.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
}

.content {
    padding: 20px;
}

.toggle-buttons {
    display: flex;
    gap: 10px; /* เพิ่มระยะห่างระหว่างปุ่ม */
    margin-bottom: 20px; /* เพิ่มระยะห่างระหว่างปุ่มและตาราง */
}